h1 {
   color: darkred;
   font-size: 35pt;
   font-weight: 600;
   text-align: center;
}
p {
   font-size: 14pt;
   font-family: 'Times New Roman', Times, serif;
   font-weight: bold;
   font-style: italic;
   color: black;
   text-align: justify;
   text-indent: 4%;
   margin-left: 2%;
   margin-top: 2%;
   margin-right: 2%;
   margin-bottom: 2%;
}
h2 {
   font-size: 30pt;
}
li {
   font-size: 25pt;
}